<style>
    .message-content {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 21px;
    }
</style>

<div class="message-content">
    <p>Olá, {{nome}}</p>
    <p>Parece que uma troca de senha para sua conta foi solicitada.</p>
    <p>Se foi você, basta clicar no link abaixo para trocar sua senha:</p>
    <p>
        <a href="{{link}}">Resetar minha senha</a>
    </p>
    <p>Se não foi você, proteja sua conta agora mesmo.</p>
    <p>
        Obrigado!<br />
        <strong>Equipe GoBarber</strong>
    </p>
</div>
